<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Prueba técnica Andrés Ferre García
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Prueba técnica Andrés Ferre García</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="image-outside-card">
    <ion-row>
      <ion-col size="4" size-lg="3"></ion-col>
      <ion-col><ion-img class="logo-img" src="../../assets/logo.jpg"></ion-img></ion-col>
      <ion-col size="4" size-lg="3"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col size-lg="4" size="1"></ion-col>
    <ion-col size-lg="4" size="10">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
        <ion-card class="main-card" routerAnimation>
          <ion-card-header class="image-inside-card">
            <ion-grid>
              <ion-row>
                <ion-col size="5" size-lg="3"></ion-col>
                <ion-col class="col-header">
                  <ion-img class="logo-img" src="../../assets/logo.jpg"></ion-img>
                  <ion-label class="logo-subtitle">Prueba técnica</ion-label>
                </ion-col>
                <ion-col size="5" size-lg="3"></ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
          <ion-card-content>
            <ion-item class="form-item" lines="full">
              <ion-label position="floating">Email</ion-label>
              <ion-icon class="form-icon" name="person-outline" slot="start"></ion-icon>
              <ion-input type="email"  formControlName="email" required></ion-input>
            </ion-item>
            <ion-label *ngIf="validateEmailField()" class="invalidField">El email debe tener un formato válido</ion-label>
            <ion-item class="form-item" lines="full">          
              <ion-label position="floating">Password</ion-label>
              <ion-icon class="form-icon" name="lock-closed-outline" slot="start"></ion-icon>
              <ion-input type="password" minlength="5" formControlName="password" required></ion-input>
            </ion-item>
            <ion-label *ngIf="validatePasswordField()" class="invalidField">La contraseña debe tener al menos 5 carácteres</ion-label>
            <ion-item lines="none" class="remember-field">
              <ion-label position="floating">Recordar</ion-label>
              <ion-toggle class="remember-toggle" color="primary" formControlName="remember"></ion-toggle>
            </ion-item>
            <ion-button type="submit" color="primary" expand="block">Acceder</ion-button>
          </ion-card-content>
        </ion-card>
      </form> 
    </ion-col>
    <ion-col size-lg="4" size="1"></ion-col>
  </ion-row>
</ion-content>
